@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@font-face {
  font-family: 'halo-regular';
  src: url('/halo/regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'halo-fancy';
  src: url('/halo/halo.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'runescape';
  src: url('/fonts/runescape2.ttf');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
}

button {

}
